@model Homely_Web.Models.AdminForgotPassword
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_LayoutGuest.cshtml";
}

<div class="container center-on-page">
    <div class="col-md-5" style="width: 400px;">
        <div class="card shadow-sm p-4">
            <h4 class="text-center fw-bold mb-3">Forgot Password</h4>
            <p class="text-muted text-center">Enter your email to receive a reset link.</p>
            <form asp-action="ForgotPassword" method="post">
                <div class="mb-3">
                    <label>Email</label>
                    <input asp-for="Email" class="form-control" required />
                </div>

                <button type="submit" class="btn btn-primary w-100">Send Reset Link</button>

                <div class="text-center mt-3">
                    <a href="/Admin/Login" class="text-decoration-none">Back to Login</a>
                </div>
            </form>
        </div>
    </div>
</div>